
<table>
  <th>First Name</th>
  <th>Last Name</th>
  <th>EmployeeId</th>
  <th>Password</th>
  <th>Email</th>
 
  <tr>
    <td>{{formvalue.name}}</td>
    <td>{{formvalue.lname}}</td>
    <td>{{formvalue.eid}}</td>
    <td>{{formvalue.password}}</td>
    <td>{{formvalue.email}}</td>
  </tr>
</table>
<button (click)="move()" name="button" >Edit</button>
