<div class="container">
<div class="jombotron">
<form novalidate [formGroup]="form" (ngSubmit)="addUser(form)">
  <div class="form-group">
    <label for="name">
     First Name
    </label>
    <input type="text" formControlName="name" class="form-control">
  </div>
  <div *ngIf="form.get('name').invalid && form.get('name').touched" class="alert alert-danger">
      <div *ngIf="form.get('name').hasError('required')">
          First Name is required.
        </div>
        <div *ngIf="form.get('name').hasError('pattern')">
            First Name will contain only characters.
          </div>
    </div>
    <div class="form-group">
        <label for="lname">
          Last Name
        </label>
        <input type="text" formControlName="lname" class="form-control">
      </div>
      <div *ngIf="form.get('lname').invalid && form.get('lname').touched" class="alert alert-danger">
          <div *ngIf="form.get('lname').hasError('required')">
              Last Name is required.
            </div>
            <div *ngIf="form.get('lname').hasError('pattern')">
               Last Name will contain only characters.
              </div>
        </div>

    <div class="form-group">
        <label for="eid">
          EmployeeId
        </label>
        <input type="text" formControlName="eid"  class="form-control" maxlength="4">
      </div>
      <div *ngIf="form.get('eid').invalid && form.get('eid').touched" class="alert alert-danger">
          <div *ngIf="form.get('eid').hasError('required')">
              Employee Id is required.
            </div>
            <div *ngIf="form.get('eid').hasError('pattern')">
                Employee Id must contain only numeric values.
            </div>
            <div *ngIf="form.get('eid').hasError('minlength')">
                Employee Id must contain 4 digits.
            </div>
        </div>


    <div class="form-group">
        <label for="password">
          password
        </label>
        <input type="password" formControlName="password" class="form-control">
      </div>
      <div *ngIf="form.get('password').invalid && form.get('password').touched" class="alert alert-danger">
          <div *ngIf="form.get('password').hasError('required')">
              password is required.
            </div>
         <div *ngIf="form.get('password').hasError('pattern')">
            Minimum eight characters, at least one letter and one number.
            </div>
        </div>


  <div class="form-group">
    <label for="contact">
      Contact
    </label>
    <input type="text" formControlName="contact"  class="form-control" maxlength="10">
  </div>
  <div *ngIf="form.get('contact').touched && form.get('contact').invalid" class="alert alert-danger">
      <div *ngIf="form.get('contact').hasError('required')">
        contact is required.
      </div>
      <div *ngIf="form.get('contact').hasError('minlength')">
          Less than 10 digits.
        </div>
        <div *ngIf="form.get('contact').hasError('maxlength')">
            More than 10 digits.
          </div>
    </div>


  <div class="form-group">
    <label for="email">
      Email
    </label>
    <input type="text" formControlName="email"  class="form-control">
  </div>
  <div *ngIf="form.get('email').invalid && form.get('email').touched" class="alert alert-danger">
      <div *ngIf="form.get('email').hasError('required')">
          Email is required.
        </div>
        
          <div *ngIf="form.get('email').hasError('email')">
              invalid Email
            </div>
  </div>
  <button type="submit" name="button" [disabled]="form.invalid">Add User</button>
</form>
</div>
</div>